<?xml version="1.0"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="username" value="" />
    <add key="userPW" value="" />
    <add key="DatabaseIP" value="172.16.1.161" />
    <add key="DatabaseName" value="KMSearch" />
    <add key="DatabaseUser" value="sa" />
    <add key="DatabasePW" value="ZnmSaPXbt7771LpEfMoQhQ==" />
  </appSettings>
</configuration>
